#body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid burlywood;
}

#integers {
  display: flex;
  flex-direction: row;
  border: 5px solid cornflowerblue;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

#functions {
  display: flex;
  flex-direction: row;
  border: 5px solid cornsilk;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.numbers {
  border: 2px solid red;
}
